.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 32px;
}


.registration {
  display: grid;
  position: relative;
  justify-content: center;
  margin-left: 32px;
  width: 100%;
}


.block-svg {
  position: absolute;
  margin-top: 200px;
}
