.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.title {
  margin-left: 10px;
  width: 120%;
}

.registration {
  display: grid;
  position: relative;
  justify-content: center;
  margin-left: 32px;
  width: 100%;
}

.block-IconPlus {
  position: relative;
  right: 125px;
  top: 183px;
}

.section-like {
  position: relative;
  left: 23%;
  top: -6%;
}

.registration-form {
  position: absolute;
  top: -60px;
  right: -55px;
}


@media ((max-width: 1600px)) {

 
  .registration-form {
    position: absolute;
    top: -60px;
    right: -155px;
  }

  .block-IconPlus {
    position: relative;
    right: 95px;
    top: 183px;
  }

  .section-like {
    position: relative;
    left: 53%;
    top: -6%;
  }
}
