.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  margin-bottom: 60px;
  position: relative;
}


.title {
  width: 528px;
  margin-top: 80px;
  margin-left: 150px;
}

.block-text {
  left: 31%;
  top: 18%;
}

.block-iconCallToAction {
  margin-left: -50px;
  margin-top: -17px;
}
