.footer {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  border-radius: 64px 64px 0 0;
  width: auto;
  height: auto;
  padding: 48px;
  margin-top: -60px;
}

.block-contacts,
.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 274px;
  border-bottom: 1px solid #efedf2;
  padding-bottom: 32px;
  margin-left: -15px;
}

.block-social {
  display: flex;
  gap: 16px;
  margin-left: 50px;
}

.block-contacts {
  padding-bottom: 48px;
}

.description,
.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts {
  margin-top: 30px;
}

.block__social-media {
  display: flex;
  gap: 16px;
  margin-left: 36px;
}

.social-media:hover {
  cursor: pointer;
}

.block-button {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 136px;
  height: 56px;
  display: flex;
  gap: 5px;
}

.button:hover {
  background-color: #302a3e;
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
}
.arrow-up path {
  fill: #302a3e;
}

.button:hover .arrow-up path {
  fill: white;
}

.link-info {
  color: #2188f6;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  flex-shrink: 0;
}

.link-info:hover {
  cursor: pointer;
  color: #58a4f7;
}

.icon-contact path {
  stroke: #2188f6;
}

.icon-contact path:hover {
  stroke: #58a4f7;
  cursor: pointer;
}

.contact {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.block-contact {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.email {
  margin-left: 32px;
}

.skolkovo,
.license {
  margin-top: 50px;
}

.group-document {
  display: flex;
  gap: 56px;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.description {
  margin-top: 64px;
  margin-bottom: 16px;
}

.sections {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #483a5799;
  margin-bottom: 8px;
}

.sections:hover {
  cursor: pointer;
  color: #8c8a8d99;
}

.block-project,
.block-description {
  margin-left: 146px;
  margin-top: -35px;
}

.block__link-document {
  display: flex;
  gap: 56px;
  margin-top: 129px;
}

.link-document {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2188f6;
  text-decoration-line: underline;
}

.requisites {
  display: flex;
  gap: 24px;
  margin-top: 51px;
}


.social-button {
  width: 56px;
  height: 56px;
  padding: 0;
  min-width: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  background: none;
  border-radius: 50px;
  border:  2px solid #302a3e;
  
 
}



@media ((max-width: 1600px)) {
  .footer {
    padding-left: 105px;
    padding-right: 105px;
  }
}
