.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  margin-bottom: 60px;
}

.block-text {
  margin-top: 123px;
  margin-left: 160px;
  width: 462px;
}

.block-IconTests {
  margin-left: -52px;
  margin-top: 10px;
}


@media ((max-width: 1600px)) {
  .container {
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .block-IconTests {
    margin-left: -52px;
    margin-top: 50px;
  }
}
