

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }
  
  .block-subtitle {
    margin-top: 24px;
    margin-bottom: 56px;
    margin-left: -6.2px;
  }
  
  .subtitle {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(48, 42, 62, 0.8);
    font-family: Nunito, sans-serif;
  }
  
  .button {
    width: 309px;
    height: 56px;
    color: #ffffff;
    background-color: #302a3e;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  .button:hover {
    cursor: pointer;
  }